name: API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  api-testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Start FastAPI in background
      run: |
        python -m uvicorn src.app.main:app --host 0.0.0.0 --port 8000 &
        sleep 5
    - name: Run API tests
      run: python -m pytest tests/api
    - name: Execute BDD tests
      run: |
        behave